<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>
      History
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let pothole of potholes" >
        <ion-card-header>
            <ion-card-subtitle>
                <ion-item>
                    <ion-icon name="pin" slot="start"></ion-icon>
                    Lorem ipsum dolor sit amet.
                  </ion-item>
            </ion-card-subtitle>
        </ion-card-header>
       
      
        <ion-card-content>
            <ion-button fill="outline" slot="end" (click)="onViewPothole(pothole)">View</ion-button>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button ion-button icon-only (click)="regularShare(i)" color="primary" clear>
                <ion-icon class="share-icon" name="share"></ion-icon>
              </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button ion-button icon-only (click)="whatsappShare(i)" color="primary" clear>
                <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
              </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button ion-button icon-only (click)="facebookShare(i)" color="primary" clear>
                <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
              </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button ion-button icon-only (click)="twitterShare(i)" color="primary" clear>
                <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
              </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button ion-button icon-only (click)="instagramShare(i)" color="primary" clear>
                <ion-icon class="share-icon" name="logo-instagram"></ion-icon>
              </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-card-content>
      </ion-card>
      
</ion-content>
