<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Contact a Mechanic Now</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Find A Mechanic Near You</ion-card-title>
      <ion-card-subtitle>Try Reaching out !</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Motor X</ion-label>
          <ion-button (click)="contactMechanic()" color="primary">Call</ion-button>
        </ion-item>
        <ion-item>
          <ion-label>Motor X</ion-label>
          <ion-button (click)="contactMechanic()" color="primary">Call</ion-button>
        </ion-item>
        <ion-item>
          <ion-label>Motor X</ion-label>
          <ion-button (click)="contactMechanic()" color="primary">Call</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
