<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
      <ion-card>
        
        
          <ion-card-content>
              <ion-row>
                  <ion-col>
                    Battery Status
                  </ion-col>
                  <ion-col>
                   Percent : {{percent}} | {{plugStatus}}
                  </ion-col>
                </ion-row>
          </ion-card-content>
        </ion-card>
</ion-content>
