<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Contact
        </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="success">
        <ion-card-header>
            <ion-card-title> Upload a Pothole Image</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card  color="light">
          <ion-card-header>
              <ion-card-title> Get it reviewed by officials</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card color="success">
            <ion-card-header>
                <ion-card-title>Get Feedback after being reviewed</ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card color="light">
              <ion-card-header>
                  <ion-card-title>Get Notifications after pothole is filled</ion-card-title>
              </ion-card-header>
            </ion-card>
            <ion-card color="success">
                <ion-card-header>
                    <ion-card-title>Most Importantly, get instant notifications of potholes
                      when driving
                    </ion-card-title>
                </ion-card-header>
              </ion-card>
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
          <ion-fab-button (click)="takePicture()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="end">
          <ion-fab-button>Share</ion-fab-button>
        
          <ion-fab-list side="top">
              <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button> 
            <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
            <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      

          </ion-fab-list>
        
          <ion-fab-list side="start">
              <ion-fab-button><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
                       </ion-fab-list>
        
        </ion-fab>
      <img [src]="currentImage" *ngIf="currentImage">
    
</ion-content>
