<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Contact
        </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <video width="100%" autoplay loop>
        <source src="../../assets/video/5.mp4" type="video/mp4">
      </video>
    <ion-card >

        <ion-card-header>
          
           
            <ion-card-subtitle> Upload a Pothole Image</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-card  color="light">
          <ion-card-header>
              
              <ion-card-subtitle> Get it reviewed by officials</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <ion-card >
            <ion-card-header>
              
                <ion-card-subtitle>Get Feedback after being reviewed</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
          <ion-card color="light">
              <ion-card-header>
                 
                  <ion-card-subtitle>Get Notifications after pothole is filled</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
            <ion-card>
                <ion-card-header>
                   
                    <ion-card-subtitle>Most Importantly, get instant notifications of potholes
                      when driving
                    </ion-card-subtitle>
                </ion-card-header>
              </ion-card>
              <br><br><br><br><br>
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
          <ion-fab-button (click)="takePicture()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button>Share</ion-fab-button>
        
          <ion-fab-list side="top">
              <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button> 
            <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
            <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      

          </ion-fab-list>
        
          <ion-fab-list side="start">
              <ion-fab-button><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
                       </ion-fab-list>
        
        </ion-fab>
      <img [src]="currentImage" *ngIf="currentImage">
    
</ion-content>
